@import "tailwindcss";

@theme {
  --color-eco-50: #effdf8;
  --color-eco-100: #d6f9ec;
  --color-eco-300: #6ee7c5;
  --color-eco-500: #19c79b;
  --color-eco-600: #0fae86;
  --color-eco-700: #0b8a6c;
  --color-eco-900: #0b3d35;
  --font-sans: "Nunito", system-ui, sans-serif;
}

body {
  @apply bg-eco-50 font-sans text-eco-900 antialiased;
}